In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [7]:
data=pd.read_csv("C:\\Users\\HP\\Downloads\\CostomerOrderForm.csv")

In [8]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [10]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [13]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
df=pd.DataFrame(index=['Error Free', 'Defective'],
               data={'Phillippines':[271, 29],'Indonesia':[267, 33],'Malta':[269, 31],'India':[280, 20]})

In [16]:
df

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [17]:
newdata=np.array(df)

In [18]:
newdata

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]], dtype=int64)

In [20]:
from scipy.stats import chi2_contingency

In [21]:
from scipy.stats import norm

In [22]:
value=chi2_contingency(newdata)

In [23]:
value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))